<!DOCTYPE html>
<html>
<head>
  <title>TheIronboard</title>
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/readable/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>"><%= value %></div>
    <% end %>

<%= yield %>
  
  </div>

</body>
</html>
